.caja-detalle {
    margin: 100px 40px;

    .nombre-detalle{
        color: #ffffff;
    }

    .desc-detalle{
        color:#ffffff
    }

    .precio-detalle{
        color: #ffffff;
    }

    .boton-detalle{
        color: #ffffff;
        background-color: #cc0d0d;
        border-radius: 5px;
        border-color: #ffffff;
        border-width: 1px;
    }
}